.nav-wrapper {
	height: 6em;
}

.topnav {
  background-color: #B0C4DE;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding: 0.25em;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  border-radius: 0.25em;
  padding: 0.3em 1em;
  text-decoration: none;
  font-size: 2em;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2em;
  white-space: nowrap;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #191970;
  color: white;
}

@media screen and (max-width: 800px) {
  .topnav {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 99.4em;
  max-width: calc(100% - 4.6em);
  margin: 0 auto;
  border-radius: 0;
}

.sticky + .content {
  padding-top: 60px;
}
